<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <title>b2x2</title>
    <style>
        html, body {
            margin: 0 !important;
            padding: 0 !important;
            overflow: hidden !important;
            background-color: black;
        }

        canvas {
            position: absolute;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
        }
    </style>
    <script type="text/javascript" charset="utf-8" src="/js/classes.js"></script>
</head>
<body onload="main()">
</body>
</html>